## You should disable Indexes and MultiViews
Options -Indexes -MultiViews +FollowSymLinks

## make sure nobody gets the htaccess, README, COPYING or VERSION files
<Files ~ "^([\._]ht|README$|VERSION$|COPYING$|LICENSE$)">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</Files>

## Don't allow access to git directories
<IfModule alias_module>
    RedirectMatch 404 /\.git
</IfModule>

<IfModule mod_rewrite.c>
    ## May be required to access sub directories.
    ## Not all installations will require the following line.  If you do,
    ## change "/website" to the path to your website directory relative
    ## to your document root.
    #RewriteBase /website

    ## Uncomment these rules if you want to have nice URLs
    ## Server must have mod_rewrite enabled:
    ## sudo a2enmod rewrite
    ## sudo service apache2 restart
    RewriteEngine On
    RewriteRule ^$                                 index.php                   [L]
    RewriteRule (.*\.(html|md|txt|adoc))$          index.php?id=$1             [QSA,L]
    RewriteCond %{REQUEST_FILENAME}                !-f
    RewriteCond %{REQUEST_FILENAME}                !-d
    RewriteRule (.*)                               index.php?id=$1             [QSA,L]
    RewriteRule ^index\.php$                       -                           [L]

    ## HTTPS
    #RewriteEngine On
    #RewriteCond %{HTTPS} !on
    #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>
