.columns {
    column-count: auto;
    column-gap: 25px;
    column-rule: 2px dotted;
    column-width: 340px;
    -moz-column-count: auto;
    -webkit-column-count: auto;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.content, .navcolumn {
    background-color:#eaeced;
    border-radius:20px 0 20px 0;
    box-shadow: 4px 4px #27272a;
    margin-bottom:10px;
    margin-top:10px;
    opacity: 0.9;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    text-align: justify;
    ul, ol, { text-align:left; }
}

.navcolumn {
    a { color: #2467ab; text-decoration: none; };
    a:hover { text-decoration: underline; };
    background-color: #27272a;
    box-shadow: 4px 4px #023c7f;
    color: #fff;
    margin-right: 15px;
    opacity: 1.0;
    text-align: left;
}

.navcolumn {
    width: 250px;   /* Set a fixed or relative size */
    flex-shrink: 0; /* Prevents menu from shrinking */
}

.content {
    flex-grow: 1;   /* Takes up the remaining available space */
}

.index {
    background-attachment: fixed;
    background-image: url('/img/bg_lipsum.gif');
    display: block;
    font-family: liberation serif, times new roman, garamond, serif, verdana;
    font-size: 14pt;
    margin-bottom: 0;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 0;
}

.abstract {
    a:active { color: red; text-decoration: none; };
    a:link { text-decoration: none; };
    a:visited { text-decoration: none; }
    a:hover {
        text-decoration: none;
        background-color: purple;
        color: white;
        border-radius: 10px
        };
    a { color: #2467ab; };
}

.navbar-header, .navbar-footer {
    a:hover { text-decoration: underline; };
    background-color: #27272a;
    border-top: 3px solid #023c7f;
    color: #fff;
    display:block;
    font-family: sans-serif, tahoma, verdana;
    font-size: 11pt;
    padding: 10px;
    text-align: center;
}

.navbar-header {
    a { color: #fff; text-decoration: none; };
}

.navbar-footer {
    a { color: #2467ab; text-decoration: none; };
    line-height: 1.4;
}

.silver, code {
    font-size: 85%;
}

.silver {
    background-color: silver;
    padding: 5px;
    white-space: pre-wrap;
}

.left, .right {
    width: 120px;
}

.left {
    float:left;
    margin-right:15px;
}

.right {
    float:right;
    margin-left:15px;
}

figure {
    margin:0;
}

h1, h2, h3, h4, h5, h6 { text-align: left; }

li:not(:last-child) {
    margin-bottom: 7px;
}

@media (max-width: 1440px) {
    .index {
        margin-left: 14%;
        margin-right: 14%;
    }
    .navcolumn {
        width: 200px;
    }
}

@media (max-width: 1280px) {
    .index {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1050px) {
    .responsive-img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .index {
        margin-left: 5%;
        margin-right: 5%;
    }
    .responsive-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .index {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Dropdown menu (hamburger) and content, hidden above 1050px */
@media screen and (max-width: 1050px) {
    /* Hide the sidebar on smaller screens */
    #navcolumn {
        display: none;
    }

    /* Displays the dropdown menu in the right corner */
    #dropdown-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #27272a;
        border: 1px solid #023c7f;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }

    /* Hides menu content by default */
    #dropdown-menu-content {
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        background-color: #27272a;
        border: 1px solid #023c7f;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    /* Menu Item Style */
    #dropdown-menu-content a {
        color: #2467ab;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    #dropdown-menu-content a:hover {
        background-color: #023c7f;
    }

    /* Show menu content when 'active' class is applied to #dropdown-menu */
    #dropdown-menu.active + #dropdown-menu-content {
        display: block;
    }
}

/* Hides hamburger menu above 1050px */
@media screen and (min-width: 1051px) {
    #dropdown-menu {
        display: none;
    }
    #dropdown-menu-content {
        display: none;
    }
}


